@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1.6;
}

section#abertura {
    background-color: #F9F7FA;
    width: 100vw;
    padding: 20px;
    font-family: "Ubuntu Mono", Arial, Helvetica, sans-serif;
    position: relative;
}

#abertura>div>h2 {
    font-size: 2em;
    font-family: "Ubuntu Mono", Arial, Helvetica, sans-serif;
}

#abertura>div>p {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

#abertura>ul {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#abertura>ul>li {
    margin: 0 10px;
}

div#texto1 {
    text-align: center;
    font-family: "Playfair Display SC", serif;
    font-size: 1.5em;
}

div#texto2 {
    text-align: justify;
    width: 100%;
    margin: 20px 0;
}

div#img {
    background-image: url(../imagens_projeto/background.jpg);
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 7px #22222286;
    margin: 20px 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
}

img.centro {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#habilidades {
    background-color: #222222;
    width: 100vw;
    padding: 20px;
    font-size: 1em;
    color: white;
    font-family: "Open Sans", sans-serif;
}

div#habilidades, div#projetos {
    display: block;
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 0px 4px #f9f7fa8f;
}

div#habilidades>h2, div#projetos>h2 {
    text-align: center;
    font-size: 1.5em;
}

footer {
    text-align: center;
    padding: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    #abertura>div>h2 {
        font-size: 1.5em;
    }

    #abertura>div>p {
        font-size: 1em;
    }

    div#texto1 {
        font-size: 1.2em;
    }

    div#texto2 {
        width: 100%;
        padding: 0 10px;
    }

    div#img {
        width: 100%;
        height: auto;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    }

    section#habilidades {
        font-size: 1em;
    }

    div#habilidades, div#projetos {
        width: 100%;
        margin: 10px 0;
        padding: 20px;
    }

    div#habilidades>h2, div#projetos>h2 {
        font-size: 1.5em;
    }
}
